.footer {
  width: 100%;
  background-color: var(--bgColor);
}

.footer strong {
  display: block;
  text-align: center;
  padding: 15px 0;
  font-weight: 500;
}

.footer nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.footer nav a {
  text-decoration: none;
  color: var(--colorText);
  padding: 15px 10px;
  margin: 0 5px;
}

.footer nav a:hover {
  text-decoration: underline;
}
